.containerCartWidget{
    background-color: rgba(0, 0, 0, 0.2 );
    border-radius: 5rem;
    width: 4rem;
    position: relative;
    display: inline-block;
}

.containerNumberCart {
    position: absolute;
    top: -5px;
    right: -5px;
    background: rgba(227, 26, 82, 0.8);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
