.containerProductDetail {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
}
.containerImgProdruct {
    width: 70%;
    margin: 0 auto;
}

.containerImgProdruct img {
    width: 100%;
}