.containerProductDetail {
    background-color: #fff;
    padding: 2rem;

}
.containerImgProdruct {
    width: 50%;
    margin: 0 auto;
}

.containerImgProdruct img {
    width: 100%;
}

.containerInfoDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}