nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 8rem;
    background-color: var(--colorSecondary);
    justify-items: center;
    align-items: center;
    font-size: 1.1rem;
}
.continerLogo {
    width: 15rem;
}

.containerButton ul {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    gap: 5rem;
}

.containerButton ul li {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}