:root {
  --colorPrimary: #e31a52;
  --colorSecondary: #212529;
  --colorTertiary: #666666;
  --paddingDesktop: 3rem;
  --paddinMObile: 1.5rem;
}

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #f3f3f3; }

h1, h2 {
  font-family: "saira", sans-serif;
  font-weight: 800; }

h3, h4, h5 {
  font-family: "saira", sans-serif;
  font-weight: 500; }

p {
  font-family: "saira", sans-serif;
  font-weight: 200; }

ul li {
  list-style: none;
  font-family: "saira", sans-serif; }

a:link, a:visited, a:active {
  text-decoration: none; }

.containerApp {
  padding-left: var(--paddingDesktop);
  padding-right: var(--paddingDesktop);
}
.containerTag {
  background-color: #fff;
  border-radius: 1rem;
  /* padding: 2rem; */
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.marginSeccion {
  margin: 3rem 0rem;
}
.buttonPrincipal {
  background-color: #e31a52 !important;
  color: white !important;
  border-radius: 0.4rem;
  padding: 0.8rem 1.3rem;
}

.lineDiv {
  margin: 2rem 0rem;
  width: 100%;
  height: 1px;
  background-color: #ccc;

}
.containerImgCartItem {
  display: flex;
  flex-direction: column;
}
